.main {
    flex: 1;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    
}

.gridIcon {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: .5rem;
}

.gridInfo {
    font-size: 1.2rem;
    margin-top: 1.4rem;
}


.yourImc {
    font-size: 1.7rem;
    margin: 1rem 0 5rem 0;

}